<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>

    <title>attendance management system</title>
    <style>
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
      }
      body {
         background: no-repeat cover center;    
      }
      </style>
  </head>
  <body background="../media/home.jpg">
    <nav class="navbar-nav justify-content-center navbar-expand-lg navbar-light bg-success">
        <p class="navbar-brand"><h3 style="color: rgb(68, 67, 67);"><b class="shadow p-1 mb-2 rounded">Attendance Management System</b></h3></p>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <ul class="navbar-nav nav-fill w-100">
          <!-- <li class="nav-item active">
            <a class="data nav-link py-0" href="/"><b>Home</b></a>
          </li>
          <li class="nav-item active">
            <a class="data nav-link py-0" href="../#"><b>About-Us</b></a>
          </li>
          <li class="nav-item active">
            <a class="data nav-link py-0" href="../#"><b>Gallery</b></a>
          </li> -->
          <li class="nav-item active">
            <a class="data nav-link py-0" href="../login/"><b>Employee Log-In</b></a>
          </li>
        </ul>
      </div>
    </nav>
    {% block body %}

    {% endblock %}
    <!-- Footer -->
<footer class="footer page-footer font-small bg-success">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: AttendanceManagementSystem.com
  <a class="py-0 float-right mr-2" style="color:#bbbbbb" href="../adminpanel/">ADMIN LOGIN</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>